<div class="row">
          <div class="col-md-3">
               <input type="text" class="form-control m-1" placeholder="Name"[(ngModel)]="hero.name">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control m-1" placeholder="Power"[(ngModel)]="hero.power">
       </div>
       <div class="col-md-3">
        <input type="text" class="form-control m-1" placeholder="Image Url"[(ngModel)]="hero.image">
   </div>
   <div class="col-md-3">
    <button (click)="Update()" class="btn btn-primary m-1">Update</button>
</div>

